.print{
    margin: 6%;
    display: flex;
    gap: 50px;
}
.print .writing .all{
    margin: 12% auto;
}
.print .writing .all h6{
    margin: 20px 1px;
}
.print .writing .all h1{
    margin: 20px auto;
}
.print .writing .all button{
    border-color: #e9a23b;
    color: #e9a23b;
}

.print .offer{
    width: 250px;
    margin:  auto 25%;
}
.print .offer ul li{
    list-style: none;
    padding: 10px;
    margin: 10px;
}
.print .writing .offer button {
    border: 1px solid black;
    margin: 7% 10%;
    outline: none;
    background-color: transparent;
    padding: 10px 30px;
    border-radius: 45px;
    font-weight: 400;
    font-size: 1rem;
}
.print .writing .offer button:hover {
    transform: scale(1.09);
    transition-duration: .3s;
}
.print .writing h1{
    font-size: 2rem;
    color: darkblue;
}
.print .writing p{
    font-size: 1.1rem;
    font-weight: 600;
}
.print .writing button{
    border: 1px solid black ;
    margin: 7% 25%;
    outline: none;
    background-color: transparent;
    padding: 10px 35px;
    border-radius: 45px;
    font-weight: 400;
    font-size: 1rem;
}
.print .writing button:hover {
    transform: scale(1.09);
    transition-duration: .3s;
}
.imagee img{ 
    margin: 4% 2%;
    width: 600px;
    min-width: 300px;
    border-radius: 10px;
}
@media(max-width:1300px){
.imagee img {
       width: 500px;
    margin-top: 5%;
}}
@media(max-width:1100px) {
.print {
    gap: 20px;
 }
 .imagee img {
     width: 450px;
     margin-top: 5%;
 }
}
@media(max-width:900px){
    .print{
        flex-direction: column;
        
    }
        .print .writing .all button{
                margin: 7% 10%;
                    padding: 10px 20px;
        }
    
    .imagee img{
        width: 90%;
        margin: auto 5% ;
    }
}